<%- include ('../partials/head')-%>
<%- include ('../partials/navbar')-%>
<section class="presentacion">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <aside>
                    <h2>Categorías de Ropa</h2>
                    <ul>
                        <li><a href="/categoria/ropa-hombre">Ropa para Hombres</a></li>
                        <li><a href="/categoria/ropa-mujer">Ropa para Mujeres</a></li>
                        <li><a href="/categoria/ropa-ninos">Ropa para Niños</a></li>
                        <li><a href="/categoria/ropa-deportiva">Ropa Deportiva</a></li>
                    </ul>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat rem voluptates officiis voluptate officia incidunt commodi dolor! Odio, alias eius, quo saepe itaque sapiente hic, ipsa autem explicabo totam consectetur?</p>
                </aside>
            </div>
            <div class="col">
                <section>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem atque architecto accusantium fugit non molestiae, nostrum laborum ipsam sit eveniet excepturi nam, distinctio dolores soluta veritatis voluptatibus esse tempora recusandae?</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem atque architecto accusantium fugit non molestiae, nostrum laborum ipsam sit eveniet excepturi nam, distinctio dolores soluta veritatis voluptatibus esse tempora recusandae?</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem atque architecto accusantium fugit non molestiae, nostrum laborum ipsam sit eveniet excepturi nam, distinctio dolores soluta veritatis voluptatibus esse tempora recusandae?</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem atque architecto accusantium fugit non molestiae, nostrum laborum ipsam sit eveniet excepturi nam, distinctio dolores soluta veritatis voluptatibus esse tempora recusandae?</p>
                </section>
            </div>
        </div>
    </div>
</section>





<%- include ('../partials/footer')-%>