<%- include ('../partials/head')-%>
<section class="ingreso">
    <div class="container">
    <div class="row align-items-center justify-content-around">
        <div class="col-4">
            <h1>Ecommerce</h1>
        </div>
        <div class="col-6">
            <%- include ('../partials/messages')-%>
            <form action="/ingreso" method="post">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <a class="text-danger" href="/olvide">Did you forget your password?</a>
                    <a class="ms-3" href="/registrar">Register</a>
                </div>
                <button type="submit" class="btn btn-primary">Log in</button>
            </form>
        </div>
    </div>
</div>
</section>
<%- include ('../partials/footer')-%>