li{
    list-style: none;
}
a{
    text-decoration: none;
}
.ingreso{
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;
}
i{
    color: rgb(0, 0, 0);
}
.categorias{
    margin-top: 56px;
}

.lista{
    width: 100vw;
}
.accordion-button:focus {
    outline: none;
    box-shadow: none;
}
.img-allprod{
    width: 50px;
}
.num-dash{
    font-size: 3rem;
}

/*  FOOTER  */
footer{
    background-color: rgba(191, 191, 191, 0.445);
}
.redes>a{
    font-size: 1.5rem;
}
.redes>p{
    font-size: 1.2rem;
}