li{
    list-style: none;
}
a{
    text-decoration: none;
}
.ingreso{
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;
}
i{
    color: rgb(0, 0, 0);
}

.coleccion{
    margin-top: 56px;
}

.categorias{
    margin-top: 56px;
}

.lista{
    width: 100vw;
}
.accordion-button:focus {
    outline: none;
    box-shadow: none;
}
/* .accordion-button:focus, .accordion-button:active {
    outline: none;
    box-shadow: none;
    background-color: inherit;
} */